ErrorDocument 404 /rijal-blog/404_not_found/index.html

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/2022/08/video\.mp4#i">
  ForceType "video/mp4"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/2024/04/avada\-agency\-home\-reel\-1\.mp4#i">
  ForceType "video/mp4"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/2024/04/avada\-agency\-home\-reel\-2\.mp4#i">
  ForceType "video/mp4"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/2024/04/avada\-agency\-home\-reel\-resp\.mp4#i">
  ForceType "video/mp4"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/2024/05/videoplayback\-1\.mp4#i">
  ForceType "video/mp4"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/2024/05/videoplayback\.mp4#i">
  ForceType "video/mp4"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/colibri/c\-159b1525\-6ba4462b\-5cc769aa\-750af361\.bkp#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/colibri/c\-1b83aab8\-274c5977\-60262be6\-49f96083\.bkp#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/colibri/c\-2049be59\-5711edbf\-80426fc\-44f95481#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/colibri/c\-20958576\-18dcb58a\-7295365c\-143ab5bc\.bkp#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/colibri/c\-29cba802\-3a11ca9\-214f21a7\-5bd69463\.bkp#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/colibri/c\-2bca236f\-58996897\-7fc8858a\-1759d13d\.bkp#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/colibri/c\-3050be7d\-578fe57\-33a73e25\-2cc370f7\.bkp#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/colibri/c\-3267d82b\-64b0d467\-7d628a8b\-2d379e5b\.bkp#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/colibri/c\-35c179\-6c4bb5d\-6ad927b4\-66ef2478\.bkp#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/colibri/c\-3e65939\-7e6e16d9\-571509c\-3a48136\.bkp#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/colibri/c\-3ffc33e4\-13de177d\-371c758d\-6586fb71\.bkp#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/colibri/c\-40b4e747\-155bad92\-58eff2d6\-2178ca37\.bkp#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/colibri/c\-44b3b36b\-56558848\-7cfee9b1\-4f09cf84\.bkp#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/colibri/c\-4b905362\-24bfc768\-25a7265d\-54046f59\.bkp#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/colibri/c\-4df3fe9\-268bb08c\-18389c6d\-99db9c\.bkp#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/colibri/c\-57c48a75\-61c398c\-3b4bc5fa\-3a560fb6\.bkp#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/colibri/c\-64fffc1b\-49cf545c\-78646af6\-622278c4\.bkp#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/colibri/c\-659d2e7d\-49701251\-5955b597\-71a8366f\.bkp#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/colibri/c\-7000ed0e\-346b85e0\-2e5b43ec\-1e67d359\.bkp#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/colibri/c\-7ce46625\-1b466911\-1bef3d90\-1d45c5f9\.bkp#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/colibri/c\-a71d2c0\-1825bb8e\-1e1b606a\-1c99c275\.bkp#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/colibri/index\.html#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/colibri/web\.config#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/config\-ee885c8\-nitropack/config\.json#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/ee885c8\-nitropack/notifications\.json#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/ee885c8\-nitropack/xSwznroyKKpXdSPEHzhBFyIENpihBJym/data/element\-revision\.json#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/ee885c8\-nitropack/xSwznroyKKpXdSPEHzhBFyIENpihBJym/data/pagecache/desktop/33b0f0fb1f1e08bc18e4a55a139babc8/ssl\-d41d8cd98f00b204\.html#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/ee885c8\-nitropack/xSwznroyKKpXdSPEHzhBFyIENpihBJym/data/pagecache/desktop/33b0f0fb1f1e08bc18e4a55a139babc8/ssl\-d41d8cd98f00b204\.html\.gz#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/ee885c8\-nitropack/xSwznroyKKpXdSPEHzhBFyIENpihBJym/data/pagecache/desktop/68fd7d1429133fa0d4f43be417dcb538/ssl\-d41d8cd98f00b204\.html#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/ee885c8\-nitropack/xSwznroyKKpXdSPEHzhBFyIENpihBJym/data/pagecache/desktop/68fd7d1429133fa0d4f43be417dcb538/ssl\-d41d8cd98f00b204\.html\.gz#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/ee885c8\-nitropack/xSwznroyKKpXdSPEHzhBFyIENpihBJym/data/pagecache/desktop/68fd7d1429133fa0d4f43be417dcb538_i#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/ee885c8\-nitropack/xSwznroyKKpXdSPEHzhBFyIENpihBJym/data/pagecache/desktop/d655b5ca27dbd2bd366733f1a931541b/ssl\-d41d8cd98f00b204\.html#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/ee885c8\-nitropack/xSwznroyKKpXdSPEHzhBFyIENpihBJym/data/pagecache/desktop/d655b5ca27dbd2bd366733f1a931541b/ssl\-d41d8cd98f00b204\.html\.gz#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/ee885c8\-nitropack/xSwznroyKKpXdSPEHzhBFyIENpihBJym/data/pagecache/heartbeat#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/ee885c8\-nitropack/xSwznroyKKpXdSPEHzhBFyIENpihBJym/data/pagecache/mobile/68fd7d1429133fa0d4f43be417dcb538/ssl\-d41d8cd98f00b204\.html#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/ee885c8\-nitropack/xSwznroyKKpXdSPEHzhBFyIENpihBJym/data/pagecache/mobile/68fd7d1429133fa0d4f43be417dcb538/ssl\-d41d8cd98f00b204\.html\.gz#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/ee885c8\-nitropack/xSwznroyKKpXdSPEHzhBFyIENpihBJym/data/pagecache/mobile/68fd7d1429133fa0d4f43be417dcb538_i#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/ee885c8\-nitropack/xSwznroyKKpXdSPEHzhBFyIENpihBJym/data/pagecache/mobile/911df5a326e4c2913d4742675cb350d9_i#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/ee885c8\-nitropack/xSwznroyKKpXdSPEHzhBFyIENpihBJym/data/pagecache/mobile/d655b5ca27dbd2bd366733f1a931541b/ssl\-d41d8cd98f00b204\.html#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/ee885c8\-nitropack/xSwznroyKKpXdSPEHzhBFyIENpihBJym/data/pagecache/mobile/d655b5ca27dbd2bd366733f1a931541b/ssl\-d41d8cd98f00b204\.html\.gz#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/ee885c8\-nitropack/xSwznroyKKpXdSPEHzhBFyIENpihBJym/data/pagecache/mobile/d655b5ca27dbd2bd366733f1a931541b_i#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/ee885c8\-nitropack/xSwznroyKKpXdSPEHzhBFyIENpihBJym/data/service\-health#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/ee885c8\-nitropack/xSwznroyKKpXdSPEHzhBFyIENpihBJym/data/time\.mark#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/ee885c8\-nitropack/xSwznroyKKpXdSPEHzhBFyIENpihBJym/data/xSwznroyKKpXdSPEHzhBFyIENpihBJym\-config\.json#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/mwai_J2tXfs8z\.log#i">
  ForceType "text/plain"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/woocommerce_uploads/index\.html#i">
  ForceType "text/html; charset=iso-8859-1"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-content/uploads/wp\-staging/logs/wpstg_debug_1916e95112a831774e38eba89312ca39\.log#i">
  ForceType "application/octet-stream"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/feed/#i">
  ForceType "application/rss+xml; charset=UTF-8"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/comments/feed/#i">
  ForceType "application/rss+xml; charset=UTF-8"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/wp\-json/#i">
  ForceType "application/json; charset=UTF-8"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/category/kuliah/feed/#i">
  ForceType "application/rss+xml; charset=UTF-8"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/category/blog/feed/#i">
  ForceType "application/rss+xml; charset=UTF-8"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/category/puisi/feed/#i">
  ForceType "application/rss+xml; charset=UTF-8"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/2024/12/28/dari\-ide\-ke\-visual/feed/#i">
  ForceType "application/rss+xml; charset=UTF-8"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/author/rijal_ga/feed/#i">
  ForceType "application/rss+xml; charset=UTF-8"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/2024/12/10/s/feed/#i">
  ForceType "application/rss+xml; charset=UTF-8"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/2024/12/09/elementor\-1323/feed/#i">
  ForceType "application/rss+xml; charset=UTF-8"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/2024/12/02/1319/feed/#i">
  ForceType "application/rss+xml; charset=UTF-8"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/2024/11/29/animasi/feed/#i">
  ForceType "application/rss+xml; charset=UTF-8"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/2024/06/07/membuatweb/feed/#i">
  ForceType "application/rss+xml; charset=UTF-8"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/2024/04/17/tidak\-kah\-kamu\-lelah\-karena\-terus\-menyimpan\-amarah/feed/#i">
  ForceType "application/rss+xml; charset=UTF-8"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/2024/04/17/mengulang\-kemarin/feed/#i">
  ForceType "application/rss+xml; charset=UTF-8"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/2024/04/17/tanpa\-judul/feed/#i">
  ForceType "application/rss+xml; charset=UTF-8"
</If>

<If "%{REQUEST_URI} =~ m#^/rijal\-blog/2024/04/17/video\-ucapan/feed/#i">
  ForceType "application/rss+xml; charset=UTF-8"
</If>
